html *{
	font-family: 'Audiowide', cursive;

}
html {
	width: 100%;
}

html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#cover{
	display: flex;
	background-position: center;
    background-repeat: no-repeat ;
  	background-size: cover;
    height: 100vh;
    background-image: url("../pics/richmondva2.jpg");

    /*000033*/
}
	
. navbar-header, a{
	color: white;
}

#overlay{
	height:100vh;
	width:auto;
	background-color:#1d1d1e; /*#909f9d gray*/
	opacity: .8;
	overflow: none;
	flex-grow: 1;
}




#overlay h1{

	text-align: center;
	padding-top: 20%;
	color: #908e96;
	font-size: 6rem;
	
}

.navbar-brand{

 font-family: 'Audiowide', cursive;
}

#navsect{
 font-family:arial;
}

#navsect li a{

	color: white;
	font-weight: bold;
}

#navsect li a:hover{
	text-decoration: underline;
	color: yellow;
	

}

.grid-container{
	display: grid;
	grid-template-rows: 200px;

		}

#abt{

	
	background-color: #37393a /*#3e4042*/;
	height:500px;

	width: 100%;
}

#abt p{
	grid-row-start:3;
	grid-row-end: 1;
}


#bg{
	height:500px;
	background-color:black;
}

#collage{
	height: 500px;
	background-color: red;

}
#contact{
	background-color: blue;
	
}
#headCont h1{
	color: white;
	font-weight: bold;
	/*font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;*/
	/*font-family: 'Orbitron', sans-serif;*/
	/*font-family: 'Libre Barcode 39 Text', cursive;*/
	font-family: 'Audiowide', cursive;
	text-align: center;
	padding-top: 5vh;
	display: flex;
	flex-direction: column;
	font-size: 150px;
	 text-shadow: 5px 2px 2px black;

}	



#abtContain{
	display: flex;
	flex-direction: row;
	overflow: hidden;

}

#abtdiv, p {
	color: white;
	padding-top: 60px;	
	text-align: center;
}
#abtdiv2, p {
	color: white;
	padding-top: 60px;	
	text-align: center;
}
#abthdr{
	
	color: white;
	
}



#video-bg{
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;

}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -100;
  border-top: 0;
  text-align:right;
  background-color:black;
  border-color: red;

}

#backgroundLink{
	color:red;
}